<div id="a" class="content_div">
	<div data-role="collapsible-set">
	  <% for entry in @feedEntries %>
	    <div data-role="collapsible" data-theme="c">
				<h3><%= entry.name %> (<%= entry.published_at.strftime("%d.%m.%y @ %H:%M")%>)</h3>
				<p>
					<i><%= entry.published_at.strftime("%d-%m-%Y @ %H:%M")%></i>
					<%= entry.summary.html_safe %>
					<a href="<%= entry.url%>" data-role="button" rel="external">Leggi sul forum</a>

				<p>
			</div>
	  <% end %>
	</div>
</div>
<div id="b" class="content_div">
		<div data-role="collapsible-set">
		  <% for entry in @blogEntries %>
		    <div data-role="collapsible" data-theme="c">
					<h3><%= entry.name %></h3>
					<p>
						<%= entry.summary.html_safe %>
						<hr />
						<i>pubblicato: <%= entry.published_at.strftime("%d-%m-%Y @ %H:%M")%></i>
						<hr />
						<a href="<%= entry.url%>" data-role="button" rel="external">Leggi sul sito</a>
					<p>
				</div>
		  <% end %>
		</div>
</div>