<!DOCTYPE html>
<html>
<head>
  <title>RumoreDigitale</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <%= csrf_meta_tags %>
	<style>
		p img{
			/*width: 100%;
			height: auto;*/
		}
	</style>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0; user-scalable=0;' /> 
</head>
<body>
	<div data-role="page" data-theme="d">
		<div data-role="header">
			<%= image_tag "RumoreDigitale_app_480.png", :width => "100%"%>
			<div data-role="navbar" data-iconpos="top" data-theme="e">
				<ul>
					<li><a href="http://www.rumoredigitale.com" data-icon="home">Sito</a></li>
					<li><a href="http://www.rumoredigitale.com/forum" data-icon="forward">Forum</a></li>
					<li><%= link_to "Aggiorna", feed_entries_path, "data-icon"=>"refresh", :rel => "external" %></li>
				</ul>
			</div><!-- /navbar -->
		</div>
		<%= yield %>
		<div data-role="footer">
			<div data-role="navbar" data-iconpos="top" data-theme="e">
					<ul>
						<li><a href="http://www.rumoredigitale.com" data-icon="home">Sito</a></li>
						<li><a href="http://www.rumoredigitale.com/forum" data-icon="forward">Forum</a></li>
						<li><%= link_to "Aggiorna", feed_entries_path, "data-icon"=>"refresh", :rel => "external" %></li>
					</ul>
				</div><!-- /navbar -->
		</div>
	</div>
</body>
</html>
